mixin company(name)
    div(title=name)
        if name === 'pra'
            img(src=`images/company/pra.jpg`, alt=`${name} logo`)
            p.lead.mb-1 I want to work fulltime building high quality products that take advantage of the latest developments in JavaScript. I have experience working with the international market, building web apps with node, HTML5, CSS as well as some experience with ARIA. I have a degree in computer science and a understanding of how to build software that prioritizes the end user’s experience. 
        else if name === 'exclaim it'
            img(src=`images/company/exclaim_it.jpg`, alt=`${name} logo`)
            p.lead.mb-1 I have used a MEAN stack before with Angular 1 to develop a web application that controls glass kilns called 
                a(href='https://prokiln.herokuapp.com') proKiln. 
                | This project involved building scheduling models in the browser that were sent to a furnace and monitored in realtime via a web portal. I am keen to start doing Angular 2 + 4. I’m enthusiastic about agile development and building user focused software. 
        else if name === '4impact'
            img(src=`images/company/4impact.jpg`, alt=`4impact logo`)
            p.lead.mb-1 I have used a MEAN stack before with Angular 1 to develop a web application that controls glass kilns called 
                a(href='https://prokiln.herokuapp.com') proKiln. 
                | This project involved building scheduling models in the browser that were sent to a furnace and monitored in realtime via a web portal. I am keen to start doing Angular 2 and i have lots of experience with mongodb and expressJS. I have some limited experience with Elasticsearch and Docker also. 
                | I’m enthusiastic about building user focused software.  
        else
            img(src='images/profile-pic.jpg', alt='Profile Picture')
            p.lead.mb-1 Technical Cofounder at 
                a(href='https://ia-jn.com/') IA-JN.com, 
                span graduate, filmmaker, coffee lover and rider of bikes.