
doctype html
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html class="no-js" lang="en"> <![endif]-->
head
    block meta
        // meta
        meta(charset='utf-8')
        title Samuel J Henry
        meta(name='description', content='Brisbane Javascript fullstack developer - Technical Cofounder at International Alumni Job Network (IAJN)')
        meta(name='keywords', content='Hire coders, Brisbane, fullstack developer, fullstack, javascript, developers, javascript developers, JS, node')
        meta(name='author', content='Samuel Henry')
        meta(property='og:image', content='images/1.JPG')
        meta(property='og:url', content='https://samueljim.com')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block css
        // CSS
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/vendor.css')
    block prescripts    
        // script
        script(src='js/modernizr.js')
        script(src='js/pace.min.js')
    //  favicons
    link(rel='icon', type='image/png', href='favicon.png')
    // header
body#top
block top
    header
        .top-bar
            a.menu-toggle(href='#')
                span Menu
            .logo
                a(href='index.html')
            nav#main-nav-wrap
                ul.main-navigation
                    li.current
                        a.smoothscroll(href='#intro', title='') Home
                    li
                        a.smoothscroll(href='#about', title='') About
                    li
                        a.smoothscroll(href='#resume', title='') Resume
                    li
                        a.smoothscroll(href='#references', title='') References
                    li
                        a.smoothscroll(href='#contact', title='') Contact
block content
    section#intro
        .intro-overlay
        .intro-content
            .row
                .col-twelve
                    if name
                        h5 #{name} application
                    else
                        h5 Hello World;
                    h1 I&apos;m Samuel Henry.
                    p.intro-position
                        span JavaScript Developer
                        span CTO of IA-JN
                    a.button.stroke.smoothscroll(href='#about', title='more') More About Me
        ul.intro-social
            li
                a(href='https://github.com/samueljim')
                    i.fa.fa-github
            li
                a(href='https://www.linkedin.com/in/samuel-j-henry/')
                    i.fa.fa-linkedin
            li
                a(href='https://www.facebook.com/theSamueljim')
                    i.fa.fa-facebook
            li
                a(href='https://www.instagram.com/thesamueljim/')
                    i.fa.fa-instagram
            li
                a.st0(href='https://ia-jn.com/account/rJOJNWTxX/samuel-james-henry')
                    svg(version='1.1', width='26px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 144.6 120', style='enable-background:new 0 0 144.6 120;', xml:space='preserve')
                        g
                            polygon(points='72.3,98.4 103.9,81.6 72.3,64.8 40.7,81.6 	')
                            polygon(points='72.3,55.2 103.9,38.4 72.3,21.6 40.7,38.4 	')
                            polygon(points='0,16.8 31.6,33.6 63.2,16.8 31.6,0 	')
                            polygon(points='0,60 31.6,76.8 63.2,60 31.6,43.2 	')
                            polygon(points='113,76.8 144.6,60 113,43.2 81.4,60 	')
                            polygon(points='0,103.2 31.6,120 63.2,103.2 31.6,86.5 	')
    section#about
        .row.section-intro
            .col-twelve
                h5 About
                if name
                    h1 Why I want to work at 
                        span.force-uppercase #{name}
                else
                    h1 Let me introduce myself.
                .intro-info
                    if name
                        include ./companies
                        +company(name)
                    else
                        img(src='images/profile-pic.jpg', alt='Profile Picture')
                        p.lead.mb-1 Technical Cofounder at 
                            a(href='https://ia-jn.com/') IA-JN.com, 
                            span graduate, filmmaker, coffee lover and rider of bikes.
                    p.lead.mb-1 I want to make software that people want to use.
        //section-intro
        .row.about-content
            h3 Skills
            .col-six.tab-full
                p I have experience with network security and programing experience in C, C#, C++, Java, Python, PHP, MySQL, HTML/CSS and JavaScript.
                p I also have experience using the following: VScode, Cisco Networking, Visual Studio 2017, Treading code, Agile Project Management, Penetration Testing, VIM, GNU/Linux, Kali, GIT, Trello, Slack, Photoshop, Illustrator, After Effects, automated email servers, Premiere and database migration.
                ul.info-list
                    li
                        strong Full name:
                        span Samuel James Henry
                    li
                        strong Birth Date:
                        span March 5, 1996
                    li
                        strong Username:
                        span samueljim
                    li
                        strong Location:
                        span Brisbane QLD
                    li
                        strong Email:
                        a(href='mailto:me@samueljim.com?Subject=Job inquiry', target='_top')
                            span me@samueljim.com
                //info-list
            .col-six.tab-full
                p My main language is JavaScript and I’ve made full stack apps with the following: Express.JS, Next.js, Pug, Angular.js, React.js, Bootstrap, MongoDB/noSQL, ElasticSearch, Graph.js, nodemailer, JSON, Passport and Socket.io. Examples of these are available on my 
                    a(href='https://github.com/samueljim') Github profile.
                p I was the Technical winner of 
                    a(href='https://medium.com/tanda-developers/brisbane-tanda-hackathon-2018-5e911c17d614') Tanda's 2018 hackathon. 
                img(src='images/4.png', alt='a cute photo of me')
                //skill-bars
        .row.button-section
            .col-twelve
                a.button(href='Samuel Henry 2018.pdf', title='Download CV', download='') Download CV
                a.button.stroke.smoothscroll(href='#contact', title='Hire Me') Hire Me
                a.button.button-primary(href='Samuel Henry academic record.pdf', title='academic record', download='') Academic record
    // resume 
    section#resume.grey-section
        .row.section-intro
            .col-twelve
                h5 Resume
                h1 My credentials.
                p.lead
        //section-intro
        .row.resume-timeline
            .col-twelve.resume-header
                h2 Work Experience
            //resume-header
            .col-twelve
                .timeline-wrap
                    .timeline-block
                        .timeline-ico
                            svg.pt-2.pl-1(version='1.1', width='2.5rem', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 144.6 120', style='enable-background:new 0 0 144.6 120;', xml:space='preserve')
                                g.st0
                                    polygon(points='72.3,98.4 103.9,81.6 72.3,64.8 40.7,81.6 	')
                                    polygon(points='72.3,55.2 103.9,38.4 72.3,21.6 40.7,38.4 	')
                                    polygon(points='0,16.8 31.6,33.6 63.2,16.8 31.6,0 	')
                                    polygon(points='0,60 31.6,76.8 63.2,60 31.6,43.2 	')
                                    polygon(points='113,76.8 144.6,60 113,43.2 81.4,60 	')
                                    polygon(points='0,103.2 31.6,120 63.2,103.2 31.6,86.5 	')
                        .timeline-header
                            h3 Technical CO Founder and CTO
                            p November 2017 - Present
                        .timeline-content
                            h4 
                                a(href='https://ia-jn.com') International Alumni Job Network (ia-jn.com)
                            p.mb-1 Full stack development of a global startup based in Brisbane. I built IA-JN.com’s job board and news website which contained elements such as login sessions, search functionality, progressive web application functionality and an admin Content Management System. I was responsible for all parts of the project including management, SEO, deployment, design and testing. I was also responsible for promoting the IAJN and dealing with the requirements of more than 200 international companies. 
                            h6
                                a(href='https://www.qutbluebox.com.au/accelerate') QUT accelerator
                            | The start up was supported by the commercial arm of QUT, Bluebox. Working in a startup accelerator for the past year has taught me business, networking and client management skills. 
                    //timeline-block
                    .timeline-block
                        .timeline-ico
                            img.pt-2.pl-1(src="images/codecamp.svg", width='35px', alt="code camp")
                        .timeline-header
                            h3 Head Teacher
                            p May 2017  – Present
                        .timeline-content
                            h4 
                                a(href='https://codecamp.com.au/') Code Camp
                            p Teaching classes of children as young as 6 the basics of how to code as well as being a role model. The role involved explaining difficult to comprehend ideas in a simple way.
                    //timeline-block
                    .timeline-block
                        .timeline-ico
                            img.proKiln(src="images/prokiln.svg" alt="proKiln logo")
                        .timeline-header
                            h3 Project Leader
                            p February 2017 – November 2017
                        .timeline-content
                            h4 
                                a(href='https://prokiln.herokuapp.com/') proKiln (www.prokiln.com)
                            p This project was undertaken for Dr Guido Zuccon. proKiln has was designed to be the most advanced glass Kiln controller to-date. It involved a raspberry pi which controlled furnaces and a website which was used to schedule, monitor and program firing runs. 
                    .timeline-block.openExpandable
                        a(onClick='toggleExpandable()')
                            .timeline-ico.ico-colored
                                i.fa.fa-arrow-down
                            .timeline-content
                                h3 Show more              
                    .expandable
                        .expandable-size
                            .timeline-block
                                .timeline-ico
                                    i.fa.fa-briefcase
                                .timeline-header
                                    h3 Courier
                                    p November 2017 – March 2018
                                .timeline-content
                                    h4 Uber Eats
                                    p UberEats delivery courier. Delivery of takeaway meals to customers’ homes by pushbike. 
                            .timeline-block
                                .timeline-ico
                                    i.fa.fa-briefcase
                                .timeline-header
                                    h3 Casual
                                    p November 2015 – February 2016
                                .timeline-content
                                    h4 Executive IT Connections
                                    p The role involved relocation of computers.
                            .timeline-block
                                .timeline-ico
                                    i.fa.fa-briefcase
                                .timeline-header
                                    h3 Christmas Casual
                                    p November 2014 to December 2014 
                                .timeline-content
                                    h4 Kidstuff Toy Store Indooroopilly 
                                    p The role involved customer service, register work, gift wrapping, restocking and labeling items. 
                            .timeline-block
                                .timeline-ico
                                    i.fa.fa-briefcase
                                .timeline-header
                                    h3 Webmaster
                                    p 2014 - Present
                                .timeline-content
                                    h4 South Brisbane Sailing Club and Nudge Beach Environmental Education Centre
                                    p Ongoing maintenance and upgrades of websites. 
                    //timeline-block
                //timeline-wrap
            //col-twelve
        //resume-timeline
        .row.resume-timeline
            .col-twelve.resume-header
                h2 Education
            //resume-header
            .col-twelve
                .timeline-wrap
                    .timeline-block
                        .timeline-ico
                            i.fa.fa-graduation-cap
                        .timeline-header
                            h3 Bachelor Degree
                            p July 2018
                        .timeline-content
                            h4 
                                a(href='https://www.qut.edu.au/study/international-courses/bachelor-of-information-technology/bachelor-of-information-technology-computer-science') Information Technology (Computer Science) with distinction and a Network and Security Minor at QUT
                            p I finished my degree with a GPA of 5.708 while being involved with many societies, working on projects for Dr Guido Zuccon and Bluebox’s startup accelerator program (commercial arm of QUT).
                    //timeline-block
                    .timeline-block
                        .timeline-ico
                            i.fa.fa-graduation-cap
                        .timeline-header
                            h3 High School
                            p 2014
                        .timeline-content
                            h4 
                                a(href='http://www.stjamescollege.qld.edu.au/') St James College Spring Hill
                            p Student leader and Senior Buddy of 2014 Award.
    section#references
        .row.section-intro
            .col-twelve
                h5 References
                h1 Want to know more about me?
            .row    
                .col-six
                    a.center(href='https://www.linkedin.com/in/shane-dillon-48570012/')
                        img.fixed-height(src="images/shane-dillon.jpg", alt="Shane Dillon")
                        h4.mb-0 Shane Dillon
                        h6 CEO of IAJN
                    blockquote Sam delivered timely project outcomes with a focus on user experience

                .col-six
                    a.center(href='https://www.linkedin.com/in/guidozuccon/')
                        img.fixed-height(src="images/guido-zuccon.jpg", alt="Dr Guido Zuccon")
                        h4.mb-0 Dr Guido Zuccon
                        h6 Research Project Supervisor
                    //- blockquote Possible quote
    block form                        
        section#contact
            .row.section-intro
                .col-twelve
                    h5 Contact
                    h1 I&apos;d Love To Hear From You.
                    // <p class="lead"></p>
            //section-intro
            .row.contact-form
                .col-twelve
                    // form
                    form#contactForm(name='contactForm', method='post', action='')
                        fieldset
                            .form-field
                                input#contactName(name='contactName', type='text', placeholder='Name', value='', minlength='2', required='')
                            .form-field
                                input#contactEmail(name='contactEmail', type='email', placeholder='Email', value='', required='')
                            .form-field
                                input#contactSubject(name='contactSubject', type='text', placeholder='Subject', value='')
                            .form-field
                                textarea#contactMessage(name='contactMessage', placeholder='message', rows='10', cols='50', required='')
                            .form-field
                                button.submitform Submit
                                button.stroke#thanks Thanks
                                #submit-loader
                                    .text-loader Sending...
                                    .s-loader
                                        .bounce1
                                        .bounce2
                                        .bounce3
                    // contact-warning
                    #message-warning
                    // contact-success
                    #message-success
                        i.fa.fa-check
                        br
            .row.text-center
                span.i-paddding
                    i.fa.fa-chevron-circle-up
                span.i-paddding
                    i.fa.fa-chevron-circle-up
                span.i-paddding
                    i.fa.fa-chevron-circle-down
                span.i-paddding
                    i.fa.fa-chevron-circle-down
                span.i-paddding
                    i.fa.fa-chevron-circle-left
                span.i-paddding
                    i.fa.fa-chevron-circle-right
                span.i-paddding
                    i.fa.fa-chevron-circle-left
                span.i-paddding
                    i.fa.fa-chevron-circle-right
                span.i-paddding
                    span B
                span.i-paddding
                    span A
            // contact-form
            .row.contact-info
                .col-four.tab-full
                    a(href='https://github.com/samueljim')
                        .icon
                            i.fa.fa-github-square
                        h5 Check out my code
                    p
                        a.white(href='https://github.com/samueljim/proKiln') proKiln
                        br
                        a.white(href='https://github.com/samueljim/ETAssistant') ETAassistant
                        br
                        a.white(href='https://github.com/samueljim/elastic-stained-glass') Elastic Search project
                        br
                        a.white(href='https://github.com/samueljim/photoServer') MongoDB photoserver
                .col-four.tab-full.collapse
                    .icon
                        i.icon-mail
                    h5 Email Me At
                    p.white me@samueljim.com
                        br 
                        | sam@ia-jn.com
                        br 
                        | thesamueljim@gmail.com
                .col-four.tab-full
                    .icon
                        i.icon-phone
                    h5 Call Me At
                    p.white 0405 433 639
block footer
    footer
        .row
            .col-six.tab-full.pull-right.social
                ul.footer-social
                    li
                        a(href='https://github.com/samueljim')
                            i.fa.fa-github
                    li
                        a(href='https://www.linkedin.com/in/samuel-j-henry/')
                            i.fa.fa-linkedin
                    li
                        a(href='https://www.facebook.com/theSamueljim')
                            i.fa.fa-facebook
                    li
                        a(href='https://www.instagram.com/thesamueljim/')
                            i.fa.fa-instagram
                    li
                        a.st0(href='https://ia-jn.com/account/rJOJNWTxX/samuel-james-henry')
                            svg(version='1.1', width='20px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 144.6 120', style='enable-background:new 0 0 144.6 120;', xml:space='preserve')
                                g
                                    polygon(points='72.3,98.4 103.9,81.6 72.3,64.8 40.7,81.6 	')
                                    polygon(points='72.3,55.2 103.9,38.4 72.3,21.6 40.7,38.4 	')
                                    polygon(points='0,16.8 31.6,33.6 63.2,16.8 31.6,0 	')
                                    polygon(points='0,60 31.6,76.8 63.2,60 31.6,43.2 	')
                                    polygon(points='113,76.8 144.6,60 113,43.2 81.4,60 	')
                                    polygon(points='0,103.2 31.6,120 63.2,103.2 31.6,86.5 	')
            .col-six.tab-full
                .copyright
                    span &copy; Copyright Kards 2016.
                    span
                        a(href='http://www.styleshout.com/') styleshout
            #go-top
                a.smoothscroll(title='Back to Top', href='#top')
                    i.fa.fa-long-arrow-up
block end
    #preloader
        #loader
    // Java Script
    script(src='js/jquery-2.1.3.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
    // Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-10908294-3')
    script.
        function gtag() {
        dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-10908294-3');
