<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html class="no-js" lang="en"> <![endif]-->

<head>
    <!-- meta-->
    <meta charset="utf-8">
    <title>Samuel J Henry - Brisbane Javascript fullstack developer - Digital producer and software developer</title>
    <meta name="description"
        content="Brisbane Javascript fullstack developer - Digital producer and software developer (katanya)">
    <meta name="keywords"
        content="Hire coders, Brisbane, fullstack developer, fullstack, javascript, developers, javascript developers, JS, katanya, node, seo">
    <meta name="author" content="Samuel Henry">
    <meta property="og:image" content="https://samueljim.com/static/images/6.jpg">
    <meta property="og:url" content="https://samueljim.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!-- CSS-->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/vendor.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <!-- script-->
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/pace.min.js"></script><!--  favicons-->
    <link rel="icon" type="image/png" href="/static/favicon.png"><!-- header-->
</head>

<body id="top"></body>
<header>
    <div class="top-bar"><a class="menu-toggle" href="#"><span>Menu</span></a>
        <div class="logo"><a href="index.html"></a></div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
                <li><a class="smoothscroll" href="#about" title="">About</a></li>
                <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
                <li><a class="smoothscroll" href="#references" title="">References</a></li>
                <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="intro">
    <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h5 class='helloworld' contenteditable="true">Hello World</h5>
            </div>
            <h1>I&apos;m Samuel Henry.</h1>
            <p class="intro-position"><span>Digital producer</span><span>JavaScript developer</span></p><a
                class="button stroke smoothscroll" href="#about" title="more">More About Me</a>
        </div>
    </div>
    <ul class="intro-social">
        <li><a href="https://github.com/samueljim"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/samuel-j-henry/"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/theSamueljim"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/thesamueljim/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://iwantbeer.now.sh/"><i class="fas fa-beer"></i></a></li>
    </ul>
</section>
<section id="about">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>About</h5>
            <h1>Let me introduce myself.</h1>
            <!-- <div class="intro-info"><img src="/static/images/profile-pic.jpg" alt="Profile Picture">
            </div> -->
            <p class="lead mb-1">Technical Cofounder at <a href="https://ia-jn.com/">&nbsp;IA-JN.com, </a><span>graduate,
                    filmmaker, coffee lover and rider of bikes.</span></p><br>
            <p class="lead mb-1">I want to make software that people want to use.</p>
        </div>
    </div>
    <!--section-intro-->
    <div class="row about-content">
        <h3>Skills</h3>
        <div class="col-six tab-full">
            <p>I have experience with network security and programming experience in C#, C++, Java, Python, PHP,
                MySQL, NoSQL, HTML/CSS and JavaScript.</p>
            <p>I also have experience using the following: VScode, Cisco Networking, Visual Studio 2017, Treading code,
                Agile Project Management, Penetration Testing, VIM, GNU/Linux, Kali, GIT, IBM Domino/notes, Photoshop,
                Illustrator, After Effects, automated email servers, Premiere and database migration.</p>
            <ul class="info-list">
                <li><strong>Full name:</strong><span>Samuel James Henry</span></li>
                <li><strong>Birth Date:</strong><span>March 5, 1996</span></li>
                <li><strong>Username:</strong><span>samueljim</span></li>
                <li><strong>Location:</strong><span>Brisbane QLD</span></li>
                <li><strong>Email:</strong><a href="mailto:me@samueljim.com?Subject=Job inquiry"
                        target="_top"><span>me@samueljim.com</span></a></li>
            </ul>
            <!--info-list-->
        </div>
        <div class="col-six tab-full">
            <p>My main language is JavaScript and I’ve made full stack apps with the following: Express, Next.js,
                Pug/EJS/Handlebars, Angular.js, React.js, MongoDB/noSQL, ElasticSearch, Graph.js, Typescript, JSON,
                and Socket.io. Examples of these are available on my <a href="https://github.com/samueljim">Github profile.</a></p>
        </div> 
    </div> 
    <div class="row about-content">
        <h3>Awards</h3>
        <div class="col-six tab-full">
            <p>Overall winner of Code Network's Winter Hackathon (2018).</p>
            <p>Technical winner of Disrupting Law (2018).</p>
            <p>Technical winner of <a href="https://medium.com/tanda-developers/brisbane-tanda-hackathon-2018-5e911c17d614">Tanda hackathon (2018). </a></p>
        </div>
        <div class="col-six tab-full">
            <img src="/static/images/5.jpg" alt="photo of steve jobs">
        </div>
    </div>
    <div class="row button-section">
        <div class="col-twelve"><a class="button" href="/static/Samuel Henry 2018.pdf" title="Download CV" download="">Download
                CV</a><a class="button stroke smoothscroll" href="#contact" title="Hire Me">Hire Me</a><a
                class="button button-primary" href="/static/Samuel Henry academic record.pdf" title="academic record"
                download="">Academic record</a></div>
    </div>
</section><!-- resume -->
<section class="grey-section" id="resume">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Resume</h5>
            <h1>My credentials.</h1>
            <p class="lead"></p>
        </div>
    </div>
    <!--section-intro-->
    <div class="row resume-timeline">
        <div class="col-twelve resume-header">
            <h2>Work Experience</h2>
        </div>

        <!--resume-header-->
        <div class="col-twelve  pb3">
            <div class="timeline-wrap">
            <div class="timeline-block">
                    <div class="timeline-ico">
                            <img class="katanya" src="/static/images/katanya.svg"
                            alt="Katanya"></div>
                    </div>
                    <div class="timeline-header">
                        <h3>Digital producer and front-end developer</h3>
                        <p>August 2018 - Present</p>
                    </div>
                    <div class="timeline-content">
                        <h4> <a href="https://katanya.co.uk/">Katanya</a></h4>
                        <p class="mb-1"> While working for Katanya I have been contracted to PwC where I have built tools and content for PwC AU and PwC Global's Website. I also spent time building the katanya website. Highlights of this are the following two pages </p>
                        <a href="https://katanya.co.uk/labs/video-to-storyboard">Video to storyboard</a> 
                        <a href="https://katanya.co.uk/404">Space invaders 404 page</a> 
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-ico"><svg class="pt-2 pl-1" version="1.1" width="2.5rem"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewbox="0 0 144.6 120" style="enable-background:new 0 0 144.6 120;"
                            xml:space="preserve">
                            <g class="st0">
                                <polygon points="72.3,98.4 103.9,81.6 72.3,64.8 40.7,81.6 	"></polygon>
                                <polygon points="72.3,55.2 103.9,38.4 72.3,21.6 40.7,38.4 	"></polygon>
                                <polygon points="0,16.8 31.6,33.6 63.2,16.8 31.6,0 	"></polygon>
                                <polygon points="0,60 31.6,76.8 63.2,60 31.6,43.2 	"></polygon>
                                <polygon points="113,76.8 144.6,60 113,43.2 81.4,60 	"></polygon>
                                <polygon points="0,103.2 31.6,120 63.2,103.2 31.6,86.5 	"></polygon>
                            </g>
                        </svg></div>
                    <div class="timeline-header">
                        <h3>Technical CO Founder and CTO</h3>
                        <p>November 2017 - August 2018</p>
                    </div>
                    <div class="timeline-content">
                        <h4> <a href="https://ia-jn.com">International Alumni Job Network (ia-jn.com)</a></h4>
                        <p class="mb-1">Full stack development of a global startup based in Brisbane. I built
                            IA-JN.com’s job board and news website which contained elements such as login sessions,
                            search functionality, progressive web application functionality and an admin Content
                            Management System. I was responsible for all parts of the project including management, SEO,
                            deployment, design and testing. I was also responsible for promoting the IAJN and dealing
                            with the requirements of more than 200 international companies. </p>
                        <h6><a href="https://www.qutbluebox.com.au/accelerate">QUT accelerator</a></h6>The start up was
                        supported by the commercial arm of QUT, Bluebox. Working in a startup accelerator for the past
                        year has taught me business, networking and client management skills.
                    </div>
                </div>
                <!--timeline-block-->
                <div class="timeline-block">
                    <div class="timeline-ico"><img class="pt-2 pl-1" src="/static/images/codecamp.svg" width="35px"
                            alt="code camp"></div>
                    <div class="timeline-header">
                        <h3>Head Teacher</h3>
                        <p>May 2017 – August 2018</p>
                    </div>
                    <div class="timeline-content">
                        <h4> <a href="https://codecamp.com.au/">Code Camp</a></h4>
                        <p>Teaching classes of children as young as 6 the basics of how to code as well as being a role
                            model. The role involved explaining difficult to comprehend ideas in a simple way.</p>
                    </div>
                </div>
                <div class="timeline-block openExpandable"><a onClick="toggleExpandable()">
                    <div class="timeline-ico ico-colored"><i class="fa fa-arrow-down"></i></div>
                    <div class="timeline-content">
                        <h3>Show more </h3>
                    </div>
                </a></div>
                <div class="expandable">
                    <div class="expandable-size">
                            <!--timeline-block-->
                            <div class="timeline-block">
                                <div class="timeline-ico"><img class="proKiln" src="/static/images/prokiln.svg" alt="proKiln logo"></div>
                                <div class="timeline-header">
                                    <h3>Project Leader</h3>
                                    <p>February 2017 – November 2017</p>
                                </div>
                                <div class="timeline-content">
                                    <h4> <a href="https://prokiln.herokuapp.com/">proKiln (www.prokiln.com)</a></h4>
                                    <p>This project was undertaken for Dr Guido Zuccon. proKiln has was designed to be the most
                                        advanced glass Kiln controller to-date. It involved a raspberry pi which controlled furnaces
                                        and a website which was used to schedule, monitor and program firing runs. </p>
                                </div>
                            </div>
                        <div class="timeline-block">
                            <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-header">
                                <h3>Courier</h3>
                                <p>November 2017 – March 2018</p>
                            </div>
                            <div class="timeline-content">
                                <h4>Uber Eats</h4>
                                <p>UberEats delivery courier. Delivery of takeaway meals to customers’ homes by
                                    pushbike. </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-header">
                                <h3>Casual</h3>
                                <p>November 2015 – February 2016</p>
                            </div>
                            <div class="timeline-content">
                                <h4>Executive IT Connections</h4>
                                <p>The role involved relocation of computers.</p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-header">
                                <h3>Christmas Casual</h3>
                                <p>November 2014 to December 2014 </p>
                            </div>
                            <div class="timeline-content">
                                <h4>Kidstuff Toy Store Indooroopilly </h4>
                                <p>The role involved customer service, register work, gift wrapping, restocking and
                                    labeling items. </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-header">
                                <h3>Webmaster</h3>
                                <p>2014 - Present</p>
                            </div>
                            <div class="timeline-content">
                                <h4>South Brisbane Sailing Club and Nudge Beach Environmental Education Centre</h4>
                                <p>Ongoing maintenance and upgrades of websites. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--timeline-block-->
            </div>
            <!--timeline-wrap-->
        </div>
        <!--col-twelve-->
    </div>
    <!--resume-timeline-->
    <div class="row resume-timeline">
        <div class="col-twelve resume-header">
            <h2>Education</h2>
        </div>
        <!--resume-header-->
        <div class="col-twelve">
            <div class="timeline-wrap">
                <div class="timeline-block">
                    <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
                    <div class="timeline-header">
                        <h3>Bachelor Degree</h3>
                        <p>July 2018</p>
                    </div>
                    <div class="timeline-content">
                        <h4> <a href="https://www.qut.edu.au/study/international-courses/bachelor-of-information-technology/bachelor-of-information-technology-computer-science">Information
                                Technology (Computer Science) with distinction and a Network and Security Minor at
                                QUT</a></h4>
                        <p>I finished my degree with a GPA of 5.708 while being involved with many societies, working on
                            projects for Dr Guido Zuccon and Bluebox’s startup accelerator program (commercial arm of
                            QUT).</p>
                    </div>
                </div>
                <!--timeline-block-->
                <div class="timeline-block">
                    <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
                    <div class="timeline-header">
                        <h3>High School</h3>
                        <p>2014</p>
                    </div>
                    <div class="timeline-content">
                        <h4> <a href="http://www.stjamescollege.qld.edu.au/">St James College Spring Hill</a></h4>
                        <p>Student leader and Senior Buddy of 2014 Award.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="">
    <div class="fluid-width-video-wrapper" style="padding-top: 40%;">
        <iframe src="https://www.youtube.com/embed/9vKijWE9A68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 
</div>
<section id="references">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>References</h5>
            <h1>Want to know more about me?</h1>
        </div>
        <div class="row">
            <div class="col-six"><a class="center" href="https://www.linkedin.com/in/shane-dillon-48570012/"><img
                        class="fixed-height" src="/static/images/shane-dillon.jpg" alt="Shane Dillon">
                    <h4 class="mb-0">Shane Dillon</h4>
                    <h6>CEO of IAJN</h6>
                </a>
                <blockquote>Sam delivered timely project outcomes with a focus on user experience</blockquote>
            </div>
            <div class="col-six"><a class="center" href="https://www.linkedin.com/in/guidozuccon/"><img
                        class="fixed-height" src="/static/images/guido-zuccon.jpg" alt="Dr Guido Zuccon">
                    <h4 class="mb-0">Dr Guido Zuccon</h4>
                    <h6>Research Project Supervisor</h6>
                </a></div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Contact</h5>
            <h1>I&apos;d Love To Hear From You.</h1><!-- <p class="lead"></p>-->
        </div>
    </div>
    <!--section-intro-->
    <div class="row contact-form">
        <div class="col-twelve">
            <!-- form-->
            <form id="contactForm" name="contactForm" method="post" action="">
                <fieldset>
                    <div class="form-field"><input id="contactName" name="contactName" type="text" placeholder="Name"
                            value="" minlength="2" required=""></div>
                    <div class="form-field"><input id="contactEmail" name="contactEmail" type="email"
                            placeholder="Email" value="" required=""></div>
                    <div class="form-field"><input id="contactSubject" name="contactSubject" type="text"
                            placeholder="Subject" value=""></div>
                    <div class="form-field"><textarea id="contactMessage" name="contactMessage" placeholder="message"
                            rows="10" cols="50" required=""></textarea></div>
                    <div class="form-field"><button class="submitform">Submit</button><button class="stroke"
                            id="thanks">Thanks</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form><!-- contact-warning-->
            <div id="message-warning"></div><!-- contact-success-->
            <div id="message-success"><i class="fa fa-check"></i><br></div>
        </div>
    </div>
    <div class="row text-center"><span class="i-paddding"><i class="fas fa-arrow-circle-up"></i></span><span
            class="i-paddding"><i class="fas fa-arrow-circle-up"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-down"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-down"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-left"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-right"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-left"></i></span><span class="i-paddding"><i
                class="fas fa-arrow-circle-right"></i></span><span class="i-paddding"><span>B</span></span><span
            class="i-paddding"><span>A</span></span></div><!-- contact-form-->
    <div class="row contact-info">
        <div class="col-four tab-full"><a href="https://github.com/samueljim">
                <div class="icon"><i class="fab fa-github"></i></div>
                <h5>Check out my public code</h5>
            </a>
            <a class="white"
            href="https://github.com/samueljim/winning-idea-for-code-network-hackathon-2018">Thiccify</a><br>
            <a class="white"
            href="https://github.com/samueljim/beer-pwa">iBeer pwa</a><br>
            <p><a class="white" href="https://github.com/samueljim/proKiln">proKiln</a><br>
                <a class="white"
                    href="https://github.com/samueljim/ETAssistant">ETAassistant</a><br>
                    <a class="white"
                    href="https://github.com/samueljim/elastic-stained-glass">Elastic Search project</a>
                    <br><a
                    class="white" href="https://github.com/samueljim/photoServer">MongoDB photoserver</a>
            </p>
        </div>
        <div class="col-four tab-full collapse">
            <div class="icon"><i class="icon-mail"></i></div>
            <h5>Email Me At</h5>
            <p class="white">me@samueljim.com<br>sh@katanya.co.uk<br>thesamueljim@gmail.com</p>
        </div>
        <div class="col-four tab-full">
            <div class="icon"><i class="icon-phone"></i></div>
            <h5>Call Me At</h5>
            <p class="white">0405 433 639</p>
        </div>
    </div>
</section>
<footer>
    <div class="row">
        <div class="col-six tab-full pull-right social">
            <ul class="footer-social">
                <li><a href="https://github.com/samueljim"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/samuel-j-henry/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/theSamueljim"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/thesamueljim/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://iwantbeer.now.sh/"><i class="fas fa-beer"></i></a></li>
                <!-- <li><a class="st0" href="https://ia-jn.com/account/rJOJNWTxX/samuel-james-henry"><svg version="1.1"
                            width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewbox="0 0 144.6 120" style="enable-background:new 0 0 144.6 120;"
                            xml:space="preserve">
                            <g>
                                <polygon points="72.3,98.4 103.9,81.6 72.3,64.8 40.7,81.6 	"></polygon>
                                <polygon points="72.3,55.2 103.9,38.4 72.3,21.6 40.7,38.4 	"></polygon>
                                <polygon points="0,16.8 31.6,33.6 63.2,16.8 31.6,0 	"></polygon>
                                <polygon points="0,60 31.6,76.8 63.2,60 31.6,43.2 	"></polygon>
                                <polygon points="113,76.8 144.6,60 113,43.2 81.4,60 	"></polygon>
                                <polygon points="0,103.2 31.6,120 63.2,103.2 31.6,86.5 	"></polygon>
                            </g>
                        </svg></a></li> -->
            </ul>
        </div>
        <div class="col-six tab-full">
            <div class="copyright"><span>This website runs on a serverless architecture</span></div>
        </div>
        <!-- <div class="col-six tab-full">
            <div class="copyright"><span>&copy; Copyright Kards 2016.</span><span><a
                        href="http://www.styleshout.com/">styleshout</a></span></div>
        </div> -->
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>
</footer>
<div id="preloader">
    <div id="loader"></div>
</div><!-- Java Script-->
<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script><!-- Google Analytics-->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-10908294-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-10908294-3');
</script>
