/*! CSS Used from: https://samueljim.com/static/css/base.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
footer,header,nav,section{display:block;}
a{background:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
h1{font-size:2em;margin:0.67em 0;}
img{border:0;}
svg:not(:root){overflow:hidden;}
button,input,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
textarea{overflow:auto;}
html{font-size:62.5%;box-sizing:border-box;}
*,*::before,*::after{box-sizing:inherit;}
body{font-weight:normal;line-height:1;text-rendering:optimizeLegibility;word-wrap:break-word;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:none;}
body,input,button{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;}
img{max-width:100%;height:auto;}
div,ul,li,h1,h2,h3,h4,h5,h6,form,p,blockquote{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{-webkit-font-variant-ligatures:common-ligatures;-moz-font-variant-ligatures:common-ligatures;font-variant-ligatures:common-ligatures;text-rendering:optimizeLegibility;}
i{font-style:italic;line-height:inherit;}
strong{font-weight:bold;line-height:inherit;}
ul{list-style:none;}
li{display:block;}
a{text-decoration:none;line-height:inherit;}
a img{border:none;}
fieldset{margin:0;padding:0;}
input[type="email"],input[type="text"],textarea{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;}
.row{width:94%;max-width:1140px;margin:0 auto;}
.row:before,.row:after{content:"";display:table;}
.row:after{clear:both;}
.row .row{width:auto;max-width:none;margin-left:-20px;margin-right:-20px;}
[class*="col-"]{float:left;}
[class*="col-"]{padding:0 20px;}
.col-four{width:33.33333%;}
.col-six{width:50%;}
.col-twelve{width:100%;}
@media screen and (max-width:1024px){
.row .row{margin-left:-18px;margin-right:-18px;}
[class*="col-"]{padding:0 18px;}
}
@media screen and (max-width:768px){
.row{width:auto;padding-left:30px;padding-right:30px;}
.row .row{padding-left:0;padding-right:0;margin-left:-15px;margin-right:-15px;}
[class*="col-"]{padding:0 15px;}
.tab-full{width:100%;}
}
@media screen and (max-width:600px){
.row{padding-left:25px;padding-right:25px;}
.row .row{margin-left:-10px;margin-right:-10px;}
[class*="col-"]{padding:0 10px;}
}
@media screen and (max-width:400px){
.row .row{padding-left:0;padding-right:0;margin-left:0;margin-right:0;}
[class*="col-"]{width:100%!important;float:none!important;clear:both!important;margin-left:0;margin-right:0;padding:0;}
}
.text-center{text-align:center;}
.pull-right{float:right;}
.i-paddding{margin-right:10px;margin-left:10px;font-family:"poppins-bold", sans-serif;}
/*! CSS Used from: https://samueljim.com/static/css/main.css */
/*! @import https://samueljim.com/static/css/micons/micons.css */
[class^="icon-"]{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-mail:before{content:"\e96f";}
.icon-phone:before{content:"\e993";}
/*! end @import */
html{font-size:10px;}
@media only screen and (max-width:1024px){
html{font-size:9.411764705882353px;}
}
@media only screen and (max-width:768px){
html{font-size:10px;}
}
@media only screen and (max-width:400px){
html{font-size:9.411764705882353px;}
}
html,body{height:100%;}
body{background:#151515;font-family:"lora-regular", serif;font-size:1.7rem;line-height:3rem;color:#000000a6;}
a,a:visited{color:#000000;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
a:hover,a:focus,a:active,a.white:hover,a.white:focus,a.white:active{color:#b22222;outline:0;}
.white,a.white{color:#fff;}
h1,h2,h3,h4,h5,h6{font-family:"poppins-semibold", sans-serif;color:#313131;font-style:normal;text-rendering:optimizeLegibility;margin-bottom:2.1rem;}
h3,h4{margin-bottom:1.8rem;}
h5,h6{font-family:"poppins-bold";margin-bottom:1.2rem;}
h1{font-size:3.1rem;line-height:1.355;letter-spacing:-.1rem;}
@media only screen and (max-width:600px){
h1{font-size:2.6rem;letter-spacing:-.07rem;}
}
h2{font-size:2.4rem;line-height:1.25;}
h3{font-size:2rem;line-height:1.5;}
h4{font-size:1.7rem;line-height:1.765;}
h5{font-size:1.4rem;line-height:1.714;text-transform:uppercase;letter-spacing:.15rem;}
h6{font-size:1.3rem;line-height:1.846;text-transform:uppercase;letter-spacing:.15rem;}
p.lead{font-family:"lora-regular", serif;font-size:2rem;line-height:1.8;color:#751818db;}
@media only screen and (max-width:768px){
p.lead{font-size:1.7rem;}
}
i,strong{font-size:1.7rem;line-height:3rem;font-style:normal;font-weight:normal;}
i{font-family:"lora-italic", serif;}
strong{font-family:"lora-bold", serif;}
blockquote{margin:3rem 0;padding-left:4rem;position:relative;}
blockquote:before{content:"\201C";font-size:8rem;line-height:0px;margin:0;color:#313131;font-family:arial, sans-serif;position:absolute;top:3rem;left:0;}
ul{list-style:disc;}
li{display:list-item;}
ul{margin-left:1.7rem;}
ul li{padding-left:.4rem;}
button,.button{margin-bottom:1.2;}
fieldset{margin-bottom:1.5rem;}
input,textarea,blockquote,p,ul,form{margin-bottom:3rem;resize:vertical;}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.pace-inactive{display:none;}
.pace .pace-progress{background:#b22222;position:fixed;z-index:900;top:0;right:100%;width:100%;height:6px;}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background:#151515;z-index:800;height:100%;width:100%;}
#loader{position:absolute;left:50%;top:50%;width:60px;height:60px;margin:-30px 0 0 -30px;padding:0;}
#loader:before{content:"";border-top:11px solid rgba(255, 255, 255, 0.1);border-right:11px solid rgba(255, 255, 255, 0.1);border-bottom:11px solid rgba(255, 255, 255, 0.1);border-left:11px solid #b22222;-webkit-animation:load 1.1s infinite linear;animation:load 1.1s infinite linear;display:block;border-radius:50%;width:60px;height:60px;}
fieldset{border:none;}
input,input[type="email"],input[type="text"],textarea{display:block;height:6rem;padding:1.5rem 0;border:0;outline:none;vertical-align:middle;color:#313131;font-family:"poppins-regular", sans-serif;font-size:1.5rem;line-height:3rem;max-width:100%;background:transparent;border-bottom:1px solid rgba(0, 0, 0, 0.3);-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
textarea{min-height:25rem;}
input[type="email"]:focus,input[type="text"]:focus,textarea:focus{color:#b22222;border-bottom:1px solid #b22222;}
::-webkit-input-placeholder{color:#a1a1a1;}
:-moz-placeholder{color:#a1a1a1;}
::-moz-placeholder{color:#a1a1a1;}
:-ms-input-placeholder{color:#a1a1a1;}
.button,a.button,button{display:inline-block;font-family:"poppins-bold", sans-serif;font-size:1.4rem;text-transform:uppercase;letter-spacing:.3rem;height:5.4rem;line-height:5.4rem;padding:0 3rem;margin:0 .3rem 1.2rem 0;background:#d8d8d8;color:#313131;text-decoration:none;cursor:pointer;text-align:center;white-space:nowrap;border:none;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.button:hover,a.button:hover,button:hover,.button:focus,button:focus{background:#bebebe;color:#000000;outline:0;}
.button.button-primary,a.button.button-primary{background:#313131;color:#FFFFFF;}
.button.button-primary:hover,a.button.button-primary:hover,.button.button-primary:focus{background:#1f1f1f;}
button.stroke,.button.stroke{background:transparent!important;border:3px solid #313131;line-height:4.8rem;}
button.stroke:hover,.button.stroke:hover{border:3px solid #000000;color:#b22222;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.grey-section{background:#ebebeb;}
.grey-section p.lead{color:#7d7d7d;}
.section-intro{max-width:700px;margin-left:auto;margin-right:auto;text-align:left;margin-bottom:3.6rem;position:relative;}
.section-intro h1{font-family:"poppins-semibold", serif;font-size:3.6rem;color:#313131;line-height:1.25;margin-bottom:1.2rem;}
.section-intro h5{color:#b22222;font-size:1.6rem;line-height:1.875;margin-bottom:0.3rem;letter-spacing:.4rem;}
@media only screen and (max-width:768px){
.section-intro{max-width:650px;}
.section-intro h1{font-size:3rem;}
}
@media only screen and (max-width:600px){
.section-intro h1{font-size:2.6rem;}
.section-intro h5{font-size:1.5rem;letter-spacing:.3rem;}
}
@media only screen and (max-width:400px){
.section-intro h1{font-size:2.4rem;}
}
header{position:fixed;width:100%;min-height:66px;z-index:600;}
header .top-bar{display:block;background:#000000;min-width:220px;min-height:66px;position:absolute;left:90px;top:0;}
header .logo{float:left;margin-left:20px;margin-right:50px;margin-top:25px;position:relative;}
header .logo a{display:block;margin:0;padding:0;border:none;font:0/0 a;text-shadow:none;color:transparent;width:92px;height:15px;background:url("https://samueljim.com/static/images/logo.png") no-repeat center;background-size:92px 15px;}
.menu-toggle{float:left;width:40px;height:40px;margin-left:20px;margin-top:13px;display:block;position:relative;}
.menu-toggle span{display:block;background-color:#b22222;width:24px;height:3px;margin-top:-1.5px;font:0/0 a;text-shadow:none;color:transparent;position:absolute;right:8px;top:50%;bottom:auto;left:auto;-moz-transition:background 0.2s ease-in-out;-o-transition:background 0.2s ease-in-out;-webkit-transition:background 0.2s ease-in-out;-ms-transition:background 0.2s ease-in-out;transition:background 0.2s ease-in-out;}
.menu-toggle span::before,.menu-toggle span::after{content:'';width:100%;height:100%;background-color:inherit;position:absolute;left:0;-moz-transition-duration:0.2s, 0.2s;-o-transition-duration:0.2s, 0.2s;-webkit-transition-duration:0.2s, 0.2s;-ms-transition-duration:0.2s, 0.2s;transition-duration:0.2s, 0.2s;-moz-transition-delay:0.2s, 0s;-o-transition-delay:0.2s, 0s;-webkit-transition-delay:0.2s, 0s;-ms-transition-delay:0.2s, 0s;transition-delay:0.2s, 0s;}
.menu-toggle span::before{top:-8px;-moz-transition-property:top, transform;-o-transition-property:top, transform;-webkit-transition-property:top, transform;-ms-transition-property:top, transform;transition-property:top, transform;}
.menu-toggle span::after{bottom:-8px;-moz-transition-property:bottom, transform;-o-transition-property:bottom, transform;-webkit-transition-property:bottom, transform;-ms-transition-property:bottom, transform;transition-property:bottom, transform;}
#main-nav-wrap{display:block;width:100%;font-family:"poppins-medium", sans-serif;font-size:1.5rem;position:absolute;top:100%;left:0;}
.main-navigation{background:#000000;padding:0px 30px 20px;margin:0;width:100%;height:auto;clear:both;display:none;}
.main-navigation>li{display:block;height:auto;text-align:left;padding:0;}
.main-navigation li a{display:block;color:#FFFFFF;width:auto;padding:15px 0;line-height:16px;border:none;}
.main-navigation li a:hover{color:#b22222;padding-left:1rem;}
.main-navigation li.current>a{background:none;color:#b22222;}
@media only screen and (max-width:1024px){
header .top-bar{left:60px;}
}
@media only screen and (max-width:768px){
header .top-bar{left:50px;}
}
@media only screen and (max-width:600px){
header .top-bar{left:35px;}
}
@media only screen and (max-width:400px){
header .top-bar{left:25px;}
}
#intro{background:#ff9393de url(https://samueljim.com/static/images/6.jpg) no-repeat;background-position:50% 0%;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-attachment:fixed;width:100%;height:100%;min-height:720px;display:table;position:relative;text-align:center;}
.intro-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#111111;opacity:.55;}
@media only screen and (max-width:1024px){
#intro{background-color:#000000;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");background-attachment:fixed;background-size:cover;}
.intro-overlay{opacity:.15;}
}
.intro-content{display:table-cell;vertical-align:middle;text-align:center;-webkit-transform:translateY(-2.1rem);-ms-transform:translateY(-2.1rem);transform:translateY(-2.1rem);}
@media only screen and (max-width:1024px){
.intro-content .row{transform:translateY(-100px);}
}
.intro-content h1{color:rgb(255, 255, 255);font-family:'Lobster', "poppins-medium", sans-serif;font-size:8.4rem;line-height:1.071;max-width:900px;margin-top:0;margin-bottom:.6rem;margin-left:auto;margin-right:auto;text-shadow:0 0 20px rgb(26, 26, 26);}
.intro-content h5{color:#b22222;font-family:"poppins-bold", sans-serif;font-size:2.3rem;line-height:1.565;margin-bottom:0;text-transform:uppercase;letter-spacing:.3rem;text-shadow:0 0 6px rgb(0, 0, 0);}
.intro-content h5:focus{outline:0;}
.intro-content .intro-position{font-family:"lora-regular", serif;font-size:1.8rem;line-height:2.4rem;text-transform:uppercase;letter-spacing:.2rem;color:rgb(255, 255, 255);}
.intro-content .intro-position span{display:inline-block;}
.intro-content .intro-position span::after{content:"|";text-align:center;display:inline-block;padding:0 8px 0 14px;color:rgba(255, 255, 255, 0.3);}
.intro-content .intro-position span:first-child::before{content:"|";text-align:center;display:inline-block;padding:0 14px 0 8px;color:rgba(255, 255, 255, 0.3);}
.intro-content .button{color:#FFFFFF!important;border-color:rgba(255, 255, 255, 0.3);height:6rem!important;line-height:5.4rem!important;padding:0 3.5rem 0 3rem!important;margin-top:.6rem;font-size:1.3rem;text-transform:uppercase;letter-spacing:.25rem;}
.intro-content .button:hover,.intro-content .button:focus{border-color:#ffffff;}
.intro-content .button::after{display:inline-block;content:"\f078";font-weight:600;font-family:'Font Awesome 5 Free';font-size:1.6rem;line-height:inherit;text-align:center;position:relative;left:1.2rem;}
.intro-social{display:block;position:absolute;width:100%;left:0;bottom:7.2rem;font-size:6.3rem;margin:0;padding:0;}
.intro-social i{font-size:3.3rem;}
.intro-social li{display:inline-block;margin:0 20px;padding:0;}
.intro-social li a,.intro-social li a:visited{color:#FFFFFF;}
.intro-social li a:hover,.intro-social li a:focus{color:#b22222;fill:#b22222;}
@media only screen and (max-width:1024px){
.intro-content h1{font-size:7.6rem;}
.intro-social{font-size:3rem;}
.intro-social li{margin:0 15px;}
}
@media only screen and (max-width:768px){
#intro{min-height:660px;}
.intro-content h1{font-size:5.2rem;}
.intro-content h5{font-size:1.8rem;}
.intro-content .intro-position{font-size:1.3rem;}
.intro-social{font-size:2.5rem;}
.intro-social li{margin:0 10px;}
}
@media only screen and (max-width:600px){
#intro{min-height:600px;}
.intro-content h1{font-size:4.6rem;margin-bottom:.6rem;}
.intro-content h5{font-size:1.5rem;margin-bottom:.3rem;letter-spacing:.2rem;}
.intro-content .intro-position{font-size:1.2rem;}
.intro-content .intro-position span{padding:0 .6rem;}
.intro-content .intro-position span::before,.intro-content .intro-position span::after{display:none!important;}
.intro-social{font-size:2.4rem;}
}
#about{background:#FFFFFF;padding-top:10rem;padding-bottom:10rem;}
@media only screen and (max-width:1024px){
#about{background:#FFFFFF;padding-top:10rem;padding-bottom:2rem;}
}
#about .section-intro{margin-bottom:3rem;}
#references{background:#FFFFFF;padding-top:10rem;padding-bottom:1rem;}
@media only screen and (max-width:1024px){
#references{padding-top:10rem;}
}
.about-content{position:relative;text-align:left;max-width:850px;margin-bottom:3.6rem;}
.about-content h3{font-family:"poppins-bold", sans-serif;font-size:1.8rem;text-transform:uppercase;letter-spacing:.25rem;}
.about-content .info-list{list-style:none;margin-left:0;}
.about-content .info-list li{padding:0 0 1.5rem 0;margin-bottom:.6rem;}
.about-content .info-list li strong{font-family:"poppins-bold", sans-serif;color:#313131;text-transform:uppercase;letter-spacing:.2rem;font-size:1.5rem;line-height:3rem;}
.about-content .info-list li span{display:block;font-family:"poppins-regular", sans-serif;color:#888888;font-size:1.5rem;line-height:1;}
.button-section{text-align:center;}
.button-section .button{width:250px;}
@media only screen and (min-width:768px){
.button-section [class*="col-"] .button{margin-left:1rem;margin-right:1rem;}
}
@media only screen and (max-width:768px){
.about-content h3{text-align:center;}
.about-content .info-list{margin-bottom:4.2rem;}
.button-section .button{width:100%;margin-bottom:3rem;}
.button-section [class*="col-"] .button:first-child{margin-right:0;}
}
#resume{padding-top:10rem;padding-bottom:5rem;}
@media only screen and (max-width:1024px){
#resume{padding-top:10rem;}
}
#resume .resume-header{text-align:center;}
#resume .resume-header h2{color:#b22222;}
#resume .resume-timeline{max-width:980px;}
#resume .timeline-wrap{position:relative;margin-top:1.5rem;margin-bottom:6rem;}
#resume .timeline-wrap::before{content:"";display:block;width:1px;height:100%;background:rgba(0, 0, 0, 0.1);position:absolute;left:35%;top:0;}
#resume .timeline-block{position:relative;padding-top:1.5rem;}
#resume .timeline-ico{height:4.8rem;width:4.8rem;line-height:4.8rem;background:#313131;border-radius:50%;text-align:center;color:#FFFFFF;position:absolute;left:35%;top:.9rem;margin-left:-2.4rem;}
#resume .timeline-ico i{position:relative;left:.05rem;top:1.3rem;}
#resume .timeline-header{float:left;width:35%;padding-right:90px;text-align:right;}
#resume .timeline-header h3{margin-bottom:0;}
#resume .timeline-header p{font-family:"poppins-regular", sans-serif;font-size:1.6rem;color:#888888;}
#resume .timeline-content{margin-left:35%;padding-left:60px;}
#resume .timeline-content h4{position:relative;padding-bottom:1.8rem;}
#resume .timeline-content h4::after{content:"";display:block;height:3px;width:50px;background:rgba(0, 0, 0, 0.2);position:absolute;left:0;bottom:0;}
@media only screen and (max-width:1024px){
#resume .timeline-header{padding-right:50px;}
#resume .timeline-header h3{font-size:1.8rem;}
#resume .timeline-header p{font-size:1.4rem;}
#resume .timeline-content{padding-left:50px;}
}
@media only screen and (max-width:768px){
#resume .timeline-wrap::before{left:2.4rem;}
#resume .timeline-ico{left:2.4rem;}
#resume .timeline-header{float:none;width:auto;padding-right:15px;text-align:left;}
#resume .timeline-header h3{font-size:2rem;}
#resume .timeline-header p{font-size:1.5rem;margin-bottom:1.5rem;}
#resume .timeline-content{margin:0;}
#resume .timeline-content h4{padding-bottom:0;padding-top:2.1rem;margin-bottom:.6rem;font-size:1.7rem;}
#resume .timeline-content h4::after{bottom:auto;top:0;}
#resume .timeline-header,#resume .timeline-content{padding-left:7rem;}
}
@media only screen and (max-width:480px){
#resume .resume-header h2{font-size:2.2rem;}
#resume .timeline-wrap::before{left:1.8rem;}
#resume .timeline-ico{height:3.6rem;width:3.6rem;line-height:3.6rem;left:1.8rem;margin-left:-1.8rem;font-size:1.5rem;}
#resume .timeline-header,#resume .timeline-content{padding-left:5.5rem;}
}
#contact{background:#151515;padding-top:12rem;padding-bottom:7.2rem;}
@media only screen and (max-width:1024px){
#contact{padding-top:10rem;padding-bottom:2rem;}
}
#contact .section-intro h1{color:white;}
#contact .section-intro h5{color:#b22222;}
.contact-form{max-width:740px;}
.contact-form ::-webkit-input-placeholder{color:rgba(255, 255, 255, 0.3);}
.contact-form :-moz-placeholder{color:rgba(255, 255, 255, 0.3);}
.contact-form ::-moz-placeholder{color:rgba(255, 255, 255, 0.3);}
.contact-form :-ms-input-placeholder{color:rgba(255, 255, 255, 0.3);}
#contact form{margin-top:0;margin-bottom:3rem;}
#contact form .form-field{position:relative;}
#contact form .form-field:before,#contact form .form-field:after{content:"";display:table;}
#contact form .form-field:after{clear:both;}
#contact input,#contact input[type="text"],#contact input[type="email"],#contact textarea{width:100%;color:rgba(255, 255, 255, 0.7);margin-bottom:0;border:none;border-bottom:1px solid rgba(255, 255, 255, 0.1);}
#contact input,#contact input[type="text"],#contact input[type="email"]{height:6.6rem;padding:1.8rem 2rem;}
#contact input,#contact input[type="text"]:focus,#contact input[type="email"]:focus{border-color:#b22222;color:#FFFFFF;}
#contact textarea{min-height:20rem;padding:1.8rem 2rem;}
#contact textarea:focus{border-color:#b22222;color:#FFFFFF;}
#contact button.submitform{font-size:1.5rem;display:block;letter-spacing:.2rem;height:6.6rem;line-height:6.6rem;padding:0 3rem;margin-top:4.8rem;width:100%;background:#b22222;color:#FFFFFF;}
#contact button.submitform:hover,#contact button.submitform:focus{background:#b22222;}
#message-warning,#message-success{display:none;background:#0d0d0d;border-radius:3px;padding:3rem;margin-bottom:3.6rem;width:100%;}
#message-warning{color:#fa0003;}
#message-success{color:#fff;}
#message-success i{margin-right:10px;}
#thanks{display:none;}
#submit-loader{display:none;position:relative;left:0;top:1.8rem;width:100%;text-align:center;}
#submit-loader .text-loader{display:none;font-family:"poppins-bold", sans-serif;color:#FFFFFF;letter-spacing:.3rem;text-transform:uppercase;}
.contact-info{margin:4.8rem auto 0;font-family:"poppins-regular", sans-serif;font-size:1.5rem;text-align:center;}
.contact-info .collapse{padding:0;}
.contact-info .icon{margin-bottom:2.1rem;}
.contact-info .icon i{font-size:4.2rem;color:#FFFFFF;}
.contact-info h5{color:#b22222;}
.s-loader{margin:1.2rem auto 3rem;width:70px;text-align:center;-webkit-transform:translateX(0.45rem);-ms-transform:translateX(0.45rem);transform:translateX(0.45rem);}
.s-loader>div{width:1rem;height:1rem;background-color:#FFFFFF;border-radius:100%;display:inline-block;margin-right:.9rem;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both;}
.s-loader .bounce1{-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.s-loader .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
footer{padding-bottom:3rem;font-size:1.4rem;font-family:"poppins-regular", sans-serif;}
footer a,footer a:visited{color:#FFFFFF;}
footer a:hover,footer a:focus{color:#b22222;}
footer .row{max-width:900px;}
footer .social{text-align:right;}
footer .footer-social{display:inline-block;font-size:2.1rem;margin:0;padding:0;position:relative;top:-.3rem;}
footer .footer-social li{display:inline-block;margin:0 12px;padding:0;}
footer .footer-social li a{color:#FFFFFF;}
.footer-social i{font-size:2.6rem;}
footer .copyright span{display:inline-block;color:#797979;}
footer .copyright span::after{content:"|";display:inline-block;padding:0 1rem 0 1.2rem;color:rgba(255, 255, 255, 0.1);}
footer .copyright span:last-child::after{display:none;}
@media only screen and (max-width:768px){
footer{text-align:center;}
footer .social{display:block;width:100%;text-align:center;margin-bottom:1.5rem;}
footer .copyright span{display:block;}
footer .copyright span::after{display:none;}
}
#go-top{position:fixed;bottom:0;right:0;z-index:600;display:none;}
#go-top a{text-decoration:none;border:0 none;display:block;height:6.6rem;width:6rem;line-height:6.6rem;text-align:center;background:#b22222;color:#FFFFFF;text-align:center;text-transform:uppercase;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
#go-top a i{font-size:2rem;line-height:inherit;}
#go-top a:hover{background:#000000;}
.st0{fill:#fff;}
.mb-0{margin-bottom:0px;}
.mb-1{margin-bottom:10px;}
.katanya{padding-top:13px;width:21px;}
.outfit{padding:10px;}
.proKiln{padding-top:11px;width:20px;}
.pt-2{padding-top:14px;}
.pl-1{padding-left:2px;}
.pb3{padding-bottom:50px;}
.fixed-height{max-height:300px;}
.center{display:block;margin-left:auto;margin-right:auto;}
@media all and (max-width: 750px){
.katanya{padding-top:10px;width:17px;}
.proKiln{padding-top:12px;width:20px;}
.pt-2{padding-top:0.9em;}
.pl-1{padding-left:0.2em;}
}
@media all and (max-width: 480px){
.proKiln{padding-top:9px;width:15px;}
.pt-2{padding-top:0.6em;}
.pl-1{padding-left:0.3em;}
}
.expandable{height:0px;overflow:hidden;transition:height 0.5s;}
.ico-colored{background-color:#b22222!important;}
.ico-colored:hover{background-color:#d73030!important;}
/*! CSS Used from: https://samueljim.com/static/css/vendor.css */
button::-moz-focus-inner{padding:0;border:0;}
/*! CSS Used from: https://use.fontawesome.com/releases/v5.7.2/css/all.css */
.fa,.fab,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-arrow-circle-down:before{content:"\f0ab";}
.fa-arrow-circle-left:before{content:"\f0a8";}
.fa-arrow-circle-right:before{content:"\f0a9";}
.fa-arrow-circle-up:before{content:"\f0aa";}
.fa-arrow-down:before{content:"\f063";}
.fa-arrow-up:before{content:"\f062";}
.fa-beer:before{content:"\f0fc";}
.fa-briefcase:before{content:"\f0b1";}
.fa-check:before{content:"\f00c";}
.fa-facebook:before{content:"\f09a";}
.fa-github:before{content:"\f09b";}
.fa-graduation-cap:before{content:"\f19d";}
.fa-instagram:before{content:"\f16d";}
.fa-linkedin:before{content:"\f08c";}
.fab{font-family:"Font Awesome 5 Brands";}
.fa,.fas{font-family:"Font Awesome 5 Free";}
.fa,.fas{font-weight:900;}
/*! CSS Used from: Embedded */
.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
/*! CSS Used keyframes */
@-webkit-keyframes load{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes load{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes sk-bouncedelay{0%, 	80%, 	100%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}40%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}
@keyframes sk-bouncedelay{0%, 	80%, 	100%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}40%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}
/*! CSS Used fontfaces */
@font-face{font-family:'poppins-bold';src:url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.eot');src:url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'), url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/poppins/poppins-bold-webfont.svg#poppinsbold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'icomoon';src:url('https://samueljim.com/static/css/micons/fonts/icomoon.eot?jo2z5t');src:url('https://samueljim.com/static/css/micons/fonts/icomoon.eot?jo2z5t#iefix') format('embedded-opentype'),         url('https://samueljim.com/static/css/micons/fonts/icomoon.ttf?jo2z5t') format('truetype'),         url('https://samueljim.com/static/css/micons/fonts/icomoon.woff?jo2z5t') format('woff'),         url('https://samueljim.com/static/css/micons/fonts/icomoon.svg?jo2z5t#icomoon') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'lora-regular';src:url('https://samueljim.com/static/fonts/lora/lora-regular-webfont.eot');src:url('https://samueljim.com/static/fonts/lora/lora-regular-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/lora/lora-regular-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/lora/lora-regular-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/lora/lora-regular-webfont.svg#loraregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'poppins-semibold';src:url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.eot');src:url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'), url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/poppins/poppins-semibold-webfont.svg#poppinssemibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'lora-italic';src:url('https://samueljim.com/static/fonts/lora/lora-italic-webfont.eot');src:url('https://samueljim.com/static/fonts/lora/lora-italic-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/lora/lora-italic-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/lora/lora-italic-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/lora/lora-italic-webfont.svg#loraitalic') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'lora-bold';src:url('https://samueljim.com/static/fonts/lora/lora-bold-webfont.eot');src:url('https://samueljim.com/static/fonts/lora/lora-bold-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/lora/lora-bold-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/lora/lora-bold-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/lora/lora-bold-webfont.svg#lorabold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'poppins-regular';src:url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.eot');src:url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'), url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/poppins/poppins-regular-webfont.svg#poppinsregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'poppins-medium';src:url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.eot');src:url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.eot#iefix') format('embedded-opentype'), url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'), url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.woff') format('woff'), url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.ttf') format('truetype'), url('https://samueljim.com/static/fonts/poppins/poppins-medium-webfont.svg#poppinsmedium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zo-mM5Ez.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zoamM5Ez.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zo2mM5Ez.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zoymM5Ez.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.eot);src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.eot);src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-solid-900.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:normal;font-display:auto;src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.eot);src:url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.7.2/webfonts/fa-brands-400.svg#fontawesome) format("svg");}